$border-gray: #EEEEEE;
$btn-gray: #aaa;
$link-grey:#757575;
$bg-gray:#f5f5f5;
$cyan:#00BCD4;
$yellow:#FFB400;
$black: #333;

*{
  box-sizing: border-box;
}

h2{
  font-size: 1.2rem;
  font-weight: 400;
  margin: 10px 0 6px 0;
}
.slick{
  cursor: pointer;
}
.hero__container{
  .v-input__icon{
    height: auto;
  }
}
.menu__icon{
  &.v-icon.v-icon{
    line-height: 40px !important;
  }
}
.v-btn{
  cursor: pointer;
}
.card-shadow{
  box-shadow: 0 0 4px rgb(0 0 0 / 20%);
  -webkit-box-shadow:0 0 4px rgb(0 0 0 / 20%);
}
.v-select.v-select--is-menu-active .v-input__icon--append .v-icon{
  transform: rotate(0deg) !important;
}
.container{
  position: relative;
  .custom {
  &.v-slide-group{
    display: block;
  }
  .v-slide-group__wrapper {
    overflow: scroll;

    width: 100%;
    padding: 10px;
    margin: -10px;
  }
  > .v-slide-group__next, .v-slide-group__prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    .v-icon{
      background: white !important;
      box-shadow: 0 3px 15px rgb(0 0 0 / 15%);
      border-radius: 50%;
      height: 40px;
      width: 40px;
    }
    &--disabled{
      display: none;
    }
  }
  > .v-slide-group__next{      
    right: -50px;
  }
  > .v-slide-group__prev{
    left: -55px;
    z-index: 1;
    
  }
}
}
.banner__wrapper, .cities__wrapper{
  .slick-slide {
    padding-right:12px !important;
  }
  /* the parent */

}
.custom-arrow{
  position: absolute;
  background: white;
  box-shadow: 0 3px 15px rgb(0 0 0 / 15%);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  &.slick-next{
    right: -45px;
  }
  &.slick-prev{
    left: -50px;
    z-index: 1;
  }
  &.slick-prev::before, &.slick-next::before{
    content: none;
  }
  &.slick-disabled{
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .category{
    .v-slide-group__wrapper{
    overflow: visible !important;
    }
  }
  
}