$border-gray: #EEEEEE;
$btn-gray: #aaa;
$cyan:#00BCD4;

*{
  box-sizing: border-box;
}

h2{
  font-size: 1.2rem;
  font-weight: 400;
  margin: 10px 0 6px 0;
}
.card-shadow{
  box-shadow: 0 0 4px rgb(0 0 0 / 20%);
  -webkit-box-shadow:0 0 4px rgb(0 0 0 / 20%);
}
  
.custom {
  clear: both;
  &.v-slide-group{
    display: block;
  }
  .v-slide-group__wrapper {
    overflow: scroll !important;
    width: 100%;
    padding: 20px;
    margin: -20px;
  }
  > .v-slide-group__next, .v-slide-group__prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    .v-icon{
      background: white !important;
      box-shadow: 0 3px 15px rgb(0 0 0 / 15%);
      border-radius: 50%;
      height: 40px;
      width: 40px;
    }
    &--disabled{
      display: none;
    }
  }
  > .v-slide-group__next{      
    right: -40px;
  }
  > .v-slide-group__prev{
    left: -40px;
    z-index: 1;
    
  }
}
