$border-gray: #EEEEEE;
$btn-gray: #aaa;
$cyan:#00BCD4;

*{
  box-sizing: border-box;
}

h2{
  font-size: 1.2rem;
  font-weight: 400;
  margin: 10px 0 6px 0;
}
.card-shadow{
  box-shadow: 0 0 4px rgb(0 0 0 / 20%);
  -webkit-box-shadow:0 0 4px rgb(0 0 0 / 20%);
}
